@import 'compass';

@import 'helpers/wordpress';
@import 'helpers/grid';
@import 'components/header';
@import 'components/cart';
@import 'components/store';
@import 'components/entry';
@import 'components/buttons';
@import 'components/form';
@import 'components/strip';
@import 'components/footer';

body {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 21px;
	overflow-x: hidden;
	color: $grey !important;
	&.home {
		.storefront-pagination {
			display: none;
		}
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 700;
	margin-bottom: 30px;
}
p {
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
}
ul {
	margin-bottom: 0;
}
.clear {
	clear:both;
}
#overlay {
	content: '';
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	transition: opacity .6s ease, visibility 0 linear .6s;
	-webkit-transition: opacity .6s ease, visibility 0 linear .6s;
}
#page {
	box-shadow: 0 0 12px 6px rgba(0,0,0,0.25);
	position: relative;
	transition: right .6s ease;
	-webkit-transition: right .6s ease;
	right: 0;
	background-color: white;
	&.open {
		right: 320px;
		#overlay {
			opacity: 1;
			visibility: visible;
			transition-delay: .1s, 0;
			-webkit-transition-delay: .1s, 0;
		}
	}
}
.hero-image {
	@media (max-width: 568px) {
		overflow: hidden;
		width: 100%;
		img {
			max-width: 160%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}