@import 'helpers/variables';

header {
	height: 96px;
	background-color: white;
	nav {
		max-width: 1168px;
		width: 90%;
		margin: 0 auto;
		position: relative;
		a.menu-trigger {
			background-color: $primary;
			width: 100%;
			color: white;
			display: block;
			font-size: 1.2em;
			float: left;
			height: 44px;
			line-height: 44px;
			text-align: center;
			margin-top: 24px;
			margin-bottom: 24px;
			@media (min-width: 1140px) {
				display: none;
			}
			span {
				margin-left: 8px;
				font-size: 1.3em;
			  position: relative;
				top: 3px;
			}
		}
		a.logo {
			img {
				width: 100%;
				max-width: 195px;
				float: left;
				vertical-align: middle;
				margin-top: 15px;
			}
		}
		.menu-main-navigation-container {
			float: left;
			display: inline-block;
			padding-bottom: 24px;
			@media (max-width: 1140px) {
				width: 100%;
				display: none;
				ul {
					margin: 0;
					display: block;
					height: 100%;
					width: 100%;
					padding-left: 24px;
					box-sizing: border-box;
				}
			}
			li {
				list-style: none;
				display: inline-block;
				font-size: 16px;
				padding-right: 35px;
				margin-right: 35px;
				height: 96px;
				line-height: 96px;
				@media (max-width: 1140px) {
					display: block;
					padding: 0;
					margin: 0;
					height: auto;
					line-height: 36px;
				}
				&:first-of-type {
					padding-left: 37px;
					margin-left: 37px;
					@media (max-width: 1140px) {
						padding: 0;
						margin: 0;
					}
				}
				&:last-of-type {
					padding-right: 0;
					margin-right: 0;
				}
				&.current-menu-item, &.current-page-ancestor, &.current_page_parent {
					> a {
						color: $grey;
						padding-bottom: 8px;
						border-bottom: 2px solid $primary;
					}
				}
				&:hover {
					.sub-menu {
						max-height: 1000px;
					}
				}
				a {
					color: $grey;
					font-weight: 300;
				}
				.sub-menu {
					max-height: 0;
					overflow: hidden;
					position: absolute;
					left: 0;
					margin: 0;
					width: 100%;
					line-height: 20px;
					background-color: rgb(49, 49, 49);
					box-sizing: border-box;
					text-align: center;
					transition: max-height .5s ease;
					-webkit-transition: max-height .5s ease;
					@media (max-width: 1140px) {
						overflow: initial;
						position: relative;
						max-height: none;
						background-color: transparent;
						padding-left: 24px;
						box-sizing: border-box;
					}
					li {
						margin: 0;
						display: inline-block;
						height: auto;
						line-height: 20px;
						padding: 0;
						@media (max-width: 1140px) {
							display: block;
							line-height: 36px;
							text-align: left;
						}
						a {
							&:hover {
								color: $grey;
								background-color: white;
							}
							padding: 12px;
							color: white;
							display: inline-block;
							transition: color .3s ease, background-color .3s ease;
							-webkit-transition: color .3s ease, background-color .3s ease;
							@media (max-width: 1140px) {
								color: $grey;
								padding: 0;
							}
						}
					}
				}
			}
		}
		.cart {
			float: right;
			line-height: 96px;
			@media (max-width: 1140px) {
				  position: absolute;
				  float: none;
				  top: 0;
				  right: 0;
			}
			a {
				font-size: 28px;
				color: $grey;
			}
			.number {
				background-color: $primary;
				color: white;
				font-size: 12px;
				height: 16px;
				width: 16px;
				line-height: 18px;
				text-align: center;
				display: inline-block;
				border-radius: 50%;
				position: relative;
				top: -15px;
				left: -10px;
			}
		}
	}
}