@import 'helpers/variables';

header {
	height: 96px;
	background-color: white;
	nav {
		max-width: 1168px;
		width: 90%;
		margin: 0 auto;
		a.logo {
			img {
				width: 100%;
				max-width: 195px;
				float: left;
				vertical-align: middle;
				margin-top: 15px;
			}
		}
		.menu-main-navigation-container {
			float: left;
			display: inline-block;
			li {
				list-style: none;
				display: inline-block;
				font-size: 16px;
				padding-right: 35px;
				margin-right: 35px;
				height: 96px;
				line-height: 96px;
				&:first-of-type {
					padding-left: 37px;
					margin-left: 37px;
				}
				&:last-of-type {
					padding-right: 0;
					margin-right: 0;
				}
				&.current-menu-item, &.current-page-ancestor {
					> a {
						color: $grey;
						padding-bottom: 8px;
						border-bottom: 2px solid $primary;
					}
				}
				&:hover {
					.sub-menu {
						max-height: 1000px;
					}
				}
				a {
					color: $grey;
					font-weight: 300;
				}
				.sub-menu {
					max-height: 0;
					overflow: hidden;
					position: absolute;
					left: 0;
					margin: 0;
					width: 100%;
					line-height: 20px;
					background-color: rgb(49, 49, 49);
					box-sizing: border-box;
					text-align: center;
					transition: max-height .5s ease;
					-webkit-transition: max-height .5s ease;
					li {
						margin: 0;
						display: inline-block;
						height: auto;
						line-height: 20px;
						padding: 0;
						a {
							&:hover {
								color: $grey;
								background-color: white;
							}
							padding: 12px;
							color: white;
							display: inline-block;
							transition: color .3s ease, background-color .3s ease;
							-webkit-transition: color .3s ease, background-color .3s ease;
						}
					}
				}
			}
		}
		.cart {
			float: right;
			line-height: 96px;
			a {
				font-size: 28px;
				color: $grey;
			}
			.number {
				background-color: $primary;
				color: white;
				font-size: 12px;
				height: 16px;
				width: 16px;
				line-height: 18px;
				text-align: center;
				display: inline-block;
				border-radius: 50%;
				position: relative;
				top: -15px;
				left: -10px;
			}
		}
	}
}