#dgx-donate-container {
  padding: 0;
  background-color: white;
  margin: 0;
}
#dgx-donate-form {
	label {
		margin-bottom: 10px;
	}
	.dgx_donate_geography_selects {
		label {
			width: 50%;
		}
		select {
			max-width: none;
			width: 50%;
		}
	}
}
.dgx-donate-form-section {
  padding: 20px;
  @media (max-width: 420px) {
  	border: none;
  	padding: 0;
  }
  .aftertext {
  	margin-left: 0;
  	margin-right: 0;
  	margin-top: 10px;
  }
}