.shop-item {
	width: 90%;
	max-width: 769px;
	margin: 0 auto;
	position: relative;
	@extend %clearfix;
	.button {
		margin-top: 0;
	}
	.info {
		width: 50%;
		float: left;
		box-sizing: border-box;
		padding-right: 30px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		p {
			&:last-of-type {
				margin-bottom: 35px;
			}
		}
	}
	.attachment-post-thumbnail {
		width: 50%;
		float: right;
		max-width: 370px;
	}
}
.woocommerce-tabs {
	ul.tabs {
  	margin-bottom: 20px;
	}
}
.oops {
	text-align: center;
	padding: 120px 0;
}
.widget_search, .widget_product_search {
	form:before {
		top: 1.318em;
	  left: 1.1em;
	}
}
#reviews {
	.comment-form-author, .comment-form-email {
  	width: 100% !important;
	}
}
table.cart {
	td.actions {
		input[name=apply_coupon] {
			@media screen and (max-width: 65.141em) {
				margin-left: 0 !important;
			}
		}
	}
}