@import 'helpers/variables';
.inner-grid {
	width: 90%;
	max-width: 980px;
	margin: 0 auto;
	@include clearfix();
	.col {
		float: left;
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 45px;
		p:last-of-type {
			margin-bottom: 30px;
		}
		&.half {
			width: 50%;
		}
	}
}
.col-full {
	margin-top: 45px;
}
[id*=pg-] {
	margin-bottom: 45px !important;
}
.widget-title {
	font-size: 24px;
}
.textwidget {
	img {
		margin-bottom: 35px;
	}
	.button {
		margin-top: 25px;
	}
	ul {
		list-style: initial;
		box-sizing: border-box;
		padding-left: 16px;
		&.clothes-listing {
			padding-left: 0;
			.shop-item {
				width: 100%;
			}
		}
		li {
			margin-bottom: 12px;
		}
	}
}
.widget_siteorigin-panels-postloop {
	width: 90%;
	max-width: 1168px;
	margin: 0 auto;
	@include clearfix();
	@media (max-width: 780px) {
		width: 100%;
	}
	.home-post {
		padding-left: 15px;
		padding-right: 15px;
		box-sizing: border-box;
		width: 33.3333%;
		float: left;
		@media (max-width: 780px) {
			float: none;
			width: 100%;
		}
		.wp-post-image {
			margin-bottom: 37px;
		}
		.title {
			font-weight: 500;
			font-size: 24px;
			line-height: 28px;
			color: $grey;
			font-weight: 700;
			margin-bottom: 26px;
			display: inline-block;
		}
	}
}